@import "./summit.css";
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import "./fonts/rubik.css";

#root {
    overflow: hidden !important;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.theme-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.theme-scrollbar::-webkit-scrollbar-track {
    width: 4px;
}

.theme-scrollbar::-webkit-scrollbar-thumb {
    background: #E4E4E4;
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-date-range-picker .rdrDefinedRangesWrapper {
    display: none; 
}

.custom-date-range-picker .rdrCalendarWrapper {
    width: 100% !important;
}

.custom-date-range-picker .rdrDateRangeWrapper {
    padding: 0 !important; 
}